<!DOCTYPE html>
<html>
    <head>
        <title>log-in connect-kenya</title>
        <style>

        </style>
        <script>

        </script>
    </head>
    <body>
        <!--come back to -->
        <section class="middle">
            <div>
                <p>Name</p>
                <input type="text" name="" id="">
                <p>email</p>
                <input type="email" name="" id="">
                <p>password</p>
                <input type="password" name="" id="">
                <button type="submit">submit</button>
            </div>
        </section>

    </body>

</html>