<!DOCTYPE html>
<html>
    <head>
        <title>Sing-up connect-kenya</title>
        <style>

        </style>
        <script>

        </script>
    </head>
    <body>

        <section class="middle">
            <!--<user-name></user-name>-->
            <form action="" method="post">
               
                name <input type="text" name={{person_name}}>
                password <input type="password" name={{person_password}} id="">
                <button type="button" class="btn btn-success">Success</button>
            </form>
          
        </section>


    </body>
</html>